.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
  /* align-items: center; */
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  height: 15rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item-image img {
  height: 100%;
  margin: auto;
  object-fit: fill;
}

.portfolio__item h3 {
  margin: 1.2rem 0 0.5rem 1rem;
}

.key-features {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 0.9rem;
  margin-left: 1.5rem;
}

.key-features .feature {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.features-icon {
  color: var(--color-primary);
}

.portfolio__item-cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: auto;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .portfolio__item-cta {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .portfolio__item-cta .btn {
    padding: 0.7rem 1rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
