nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  position: relative;
}
nav a p {
  position: absolute;
  bottom: 5rem;
  background: var(--color-primary);
  color: var(--color-bg);
  padding: 0.3rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  display: none;
}
nav a p::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 1rem solid;
  border-color: #4db5ff #0000 #0000 #0000;
  border-radius: 0 0 50% 50%;
}

nav a:hover p {
  display: block;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.5rem;
    gap: 0.2rem;
  }
  nav a p {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
}
